<div class="sidebar">
  <div class="container">

    <nav class="sidebar-nav">
      {% comment %}

      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>


        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.


      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      {% endcomment %}
      
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/">grim</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/about">About</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/tests">Tests</a>
      <a class="sidebar-nav-item" href="https://github.com/afd-illinois/grim">Download</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/compile">Compile</a>
    </nav>

  </div>
</div>
